<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <!--Import Google Icon Font-->
    <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div  th:fragment="header">
    <div class="navbar-fixed grey darken-4">
        <nav>
            <div class="nav-wrapper grey darken-4">
                <a href="#!" class="brand-logo">Jobs</a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Find Job<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a>Upload CV</a></li>
                    <li><a>Login</a></li>
                </ul>
            </div>
        </nav>
        <ul id="dropdown1" class="dropdown-content">
            <li><a th:href="@{/cities}">Search By City</a></li>
            <li><a>Search By Position</a></li>
            <li><a th:href="@{/companies}">Search By Company</a></li>
        </ul>
    </div>
</div>
<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>
</body>
</html>